body {
  background-color: #F8ECC2;
  color: #000;
}

.game {
  text-align: center;
}

#levels {
  margin-bottom: 25px;
}

td {
  font-size: 25px;
  word-break: break-word;
  width: 25px;
  border: none;
  text-align: center;
}