body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game {
  text-align: center;
}

#levels {
  margin-bottom: 25px;
}

td {
  font-size: 25px;
  word-break: break-word;
  width: 25px;
  border: none;
  text-align: center;
}